.container{
  display: flex;
  pointer-events: auto;
  background-color: #ffffff;
  height: 100%;
}

.buttonList{
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
}
