.topContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rightTopSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

.bottomContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}
