body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    outline: none;
    line-height: normal;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
