.infoParameterContainer {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  grid-auto-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-top: 30px;
  & > * {
    font-size: 14px !important;
  }
}

.infoParameterContainerKey {
  font-weight: 600 !important;
  text-align: right;
}
